<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <script src="https://kit.fontawesome.com/15f814a076.js"></script>
<body>



<div class="login-box">
    <h1>Longin</h1>

    <form action="/loginRequest" >
        <div class="textbox">
            <i class="far fa-user"></i>
            <input type="text" placeholder="UserId" name="userId">
        </div>

        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="userPassword">
        </div>

        <input class="btn" type="submit" name="" value="Sign In">
    </form>
    <br>
    <br>
    <input class="btn" type="button" name="" value="Create Account" onclick="location.href='/join'">
</div>
</body>
</head>
<body>
<form>

</form>
</body>
</html>